@import './variables.module.scss';

.body {
  margin-top: 100px;
  margin: 10px 30px 10px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    color: $primary-color
  }

  div {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    justify-content: center;


  }
}

@media (prefers-color-scheme: light) {
  .body {
    h2 {
      color: black;
    }
  }
}