html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background: #000 url(//cssanimation.rocks/demo/starwars/images/bg.jpg);
    // body {
    //   background: #000 url(//cssanimation.rocks/demo/starwars/images/bg.jpg);
    // }
  }


* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  // body {
  //   color: white;
  //   background: black;
  // }
}
