@import "mixins";
@import './variables.module.scss';

.header {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  // margin-bottom: 100px;

  // position: sticky;
  // top: 0;
  // overflow: hidden;
  // width: 99.4%;

  nav {
    display: flex;
    padding: 16px;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    display: flex;
    flex-direction: row;
    row-gap: 6px;
    cursor: pointer;
    height: 100px;

    a {
      text-decoration: none;
      color: inherit;
    }

    .navMenuBar {
      width: 40px;
      height: 4px;
      background-color: black;
      border-radius: 2px;
    }

    .navMenuList {
      display: flex;
      flex-direction: row;
      padding: 4px 16px;
      transition: all 0.2s;
      background-color: #000000;
    }

    .active {
      font-weight: 900;
    }

    .navItem {
      font-size: 18px;
      position: relative;
      transition: all 0.2s;
    }

    .navItem:hover {
      font-weight: bold;
    }

  }

}

@include desktop {
  .navMenuBar {
    display: none;
  }

  .navMenuList {
    position: unset;
    flex-direction: row;
    min-height: fit-content;
    width: fit-content;
    column-gap: 24px;
    align-items: center;

  }

  .nav__link::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 6px;
    bottom: -16px;
    left: 0;
    background-color: black;
    transition: all 0.2s;
  }

  .nav__link:hover:before {
    width: 100%;
  }
}

// @media screen and (min-width: 768px) {
//   .navMenuBar {
//     display: none;
//   }

//   .navMenuList {
//     position: unset;
//     flex-direction: row;
//     min-height: fit-content;
//     width: fit-content;
//     column-gap: 24px;
//     align-items: center;

//   }

//   .nav__link::before {
//     content: '';
//     position: absolute;
//     width: 0%;
//     height: 6px;
//     bottom: -16px;
//     left: 0;
//     background-color: black;
//     transition: all 0.2s;
//   }

//   .nav__link:hover:before {
//     width: 100%;
//   }
// }

@include mobile {

  .header {

    nav {

      h1 {
        font-size: 18px;
      }

      .searchBox {
        font-size: 10px;
      }

      .navMenuList{
        gap: 10px;
      }
      .navItem {
        font-size: 12px;
      }
    }
  }

}