@import "mixins";
@import './variables.module.scss';

.body {
  margin-top: 150px;
  height: calc(100vh - 200px);
  width: 100%;
  // margin: auto;
  text-align: center;

  select {
    font: inherit;
    text-align: center;
  }

  p {
    font-size: 18px;
    color: $primary-color;
  }
}

.searchBox {
  width: 50vw;
  height: 5vh;
  font: inherit;
  font-size: 14px;
  text-align: center;
}


@include mobile {

  .body {
    select * {
      font-size: 12px;
      background-color: white;
      color: $primary-color;
    }

    select::after {
      position: absolute;
      font-size: 12px;
      background-color: white;
      color: $primary-color;
    }
  }

  .searchBox {
    width: 70vw;
    height: 5vh;
    font: inherit;
    font-size: 12px;
    text-align: center;
  }

}